<div id="account-overview" v-cloak>
  <account-notification-banner></account-notification-banner>
  <div class="container pt-5 pb-5">
    <h1><%= __('account.my') %></h1>
    <hr/>
    <div class="row mb-3">
      <div class="col-sm-6">
        <h4><%= __('account.personalInformations') %></h4>
      </div>
      <div class="col-sm-6">
        <span class="float-sm-right">
          <a style="width: 150px" class="btn btn-sm btn-outline-info" href="/account/profile"><%= __('account.edit') %></a>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-3"><%= __('name') %>:</div>
      <div class="col"><strong>{{me.fullName}}</strong></div>
    </div>
    <div class="row">
      <div class="col-3"><%= __('email') %>:</div>
      <div class="col">
        <strong :class="[me.emailStatus === 'unconfirmed' || me.emailStatus === 'change-requested' ? 'text-muted' : '']">{{me.emailChangeCandidate ? me.emailChangeCandidate : me.emailAddress}}</strong>
        <span v-if="me.emailStatus === 'unconfirmed' || me.emailStatus === 'change-requested'" class="badge badge-pill badge-warning"><%= __('account.notVerified') %></span>
      </div>
    </div>
    <hr/>
    <div class="row mb-3">
      <div class="col-sm-6">
        <h4><%= __('password') %></h4>
      </div>
      <div class="col-sm-6">
        <span class="float-sm-right">
          <a style="width: 150px" class="btn btn-sm btn-outline-info" href="/account/password"><%= __('account.password.change.title') %></a>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-3"><%= __('password') %>:</div>
      <div class="col"><strong>••••••••••</strong></div>
    </div>
  </div>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
