#welcome {

  .transactions {
    .row{
      padding-top: 5px;
    }
    .in {
      font-weight: bold;
      color: @in;
    }
    .out {
      font-weight: bold;
      color: @out;
    }
    .out::before {
      content: "-";
    }
  }

}
