<div id="pay" v-cloak>
  <div class="container-fluid pt-5 pb-5">
    <h1 class="text-center">{{ name }}, <%= __('pay.greeting') %></h1>
    <h3 class="text-center"><%= __('account.amount') %>: <%- funds %> VAL</h3>
    <div class="col-sm-12 col-md-6 col-lg-4 mx-auto">
      <hr />
      <ajax-form action="payToEmail" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="email"><%= __('pay.payeeEmail') %></label>
            <input class="form-control" id="email" name="email" type="email" :class="[formErrors.email ? 'is-invalid' : '']" v-model="formData.email" placeholder="mail@example.com" focus-first>
            <div class="invalid-feedback" v-if="formErrors.email"><%= __('form.error.payeeEmail') %></div>
          </div>
          <div class="form-group col-md-4">
            <label for="amount"><%= __('pay.amount') %></label>
            <input class="form-control" id="amount" name="amount" type="number" step="0.01" min="0" pattern="([0-9]{1,3}).([0-9]{1,3})"  :class="[formErrors.amount ? 'is-invalid' : '']" v-model.trim="formData.amount" placeholder="000.00">
            <div class="invalid-feedback" v-if="formErrors.amount"><%= __('form.error.amount') %></div>
          </div>
        </div>
        <div class="form-group">
          <label for="reason"><%= __('pay.reason') %></label>
          <input class="form-control" id="reason" name="reason" type="text"  :class="[formErrors.reason ? 'is-invalid' : '']" v-model.trim="formData.reason" placeholder="Lorem ipsum dolor sit amet">
          <div class="invalid-feedback" v-if="formErrors.reason"><%= __('form.error.reason') %></div>
        </div>
        <div class="form-group text-right">
          <a class="btn btn-outline-info" href="/welcome"><%= __('cancel') %></a>
          <ajax-button type="submit" :syncing="syncing" class="btn btn-dark"><%= __('send') %></ajax-button>
        </div>
        <cloud-error v-if="cloudError"></cloud-error>
      </ajax-form>
    </div>
  </div>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
