<div id="welcome">
  <account-notification-banner></account-notification-banner>
  <div class="container pt-5 pb-5">

    <div class="row border border-info rounded shadow p-4">
      <div class="col-sm-12 col-md-7 text-center">
        <h2><%= __('welcome') %>, {{ name }}</h2>
        <h3 class="font-weight-bold"><%= __('account.amount') %>: {{ funds }} VAL</h3>
      </div>
      <div class="col-sm-12 col-md-5 pt-2 mt-1 text-sm-center text-lg-left">
        <p><%= __('account.lastDecrease') %>: {{ decrease }} <a target="_blank" href="/faq" class="fa fa-question"></a></p>
        <p><%= __('account.active') %>: {{ active ? 'SI' : 'NO' }} <a target="_blank" href="/faq" class="fa fa-question"></a></p>
      </div>
    </div>

    <h2 class="mt-5 text-center"><%= __('account.lastTransactions') %></h2>
    <div class="transactions" v-if="transactions.length">
      <div class="row text-center font-weight-bold mt-2 border-bottom border-secondary d-none d-md-flex">
        <div class="col-md-2 border">
          <%= __('date') %>
        </div>
        <div class="col-md-2 border">
          <%= __('amount') %>
        </div>
        <div class="col-md-5 border">
          <%= __('reason') %>
        </div>
        <div class="col-md-3 border">
          <%= __('user') %>
        </div>
      </div>
      <div class="row text-center mt border-bottom border-secondary" v-for="item in transactions" :key="item.id">
        <div class="col-md-2 border">
          {{ item.date }}
        </div>
        <div class="col-md-2 border pr-4 text-right" :class="item.type">
          {{ item.amount }} VAL
        </div>
        <div class="col-md-5 border">
          {{ item.reason }}
        </div>
        <div class="col-md-3 border">
          <a :href="'/pay?email='+item.withUserEmail">{{ item.withUserName }}</a>
        </div>
      </div>
    </div>
    <p class="text-center" v-else>(<%= __('none') %>)</p>

    <div class="row text-center mt-5">
      <div class="col-sm-12">
        <a class="btn btn-outline-info" href="/pay"><%= __('pay.new') %></a>
      </div>
    </div>

  </div>

</div>


<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
