<div id="forgot-password" v-cloak>
  <div class="container-fluid pt-5 pb-5">
    <h1 class="text-center"><%= __('password.recovery.title') %></h1>
    <div style="max-width:  450px;" class="mx-auto" v-if="!cloudSuccess">
      <p class="text-center"><%= __('password.recovery.desc') %></p>
      <hr/>
      <ajax-form action="sendPasswordRecoveryEmail" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
        <div class="form-group">
          <input type="email" name="email-address" class="form-control" placeholder="sturgeon@example.com" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" autocomplete="email" focus-first>
          <div class="invalid-feedback" v-if="formErrors.emailAddress"><%= __('form.error.email') %></div>
        </div>
        <cloud-error v-if="cloudError"></cloud-error>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-dark btn-lg btn-block"><%= __('password.recovery.sendLink') %></ajax-button>
        </div>
      </ajax-form>
      <p class="text-center"><a href="/login"><%= __('login') %></a></p>
    </div>
    <div style="max-width:  450px;" class="mx-auto text-center" v-else>
      <p><%= __('password.recovery.info.1') %></p>
      <hr/>
      <p><%= __('password.recovery.info.2') %> <a href="/contact"><%= __('contact') %></a>.</p>
      <p class="text-center"><a class="btn btn-outline-primary" href="/login"><%= __('login') %></a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
