<div id="signup" v-cloak>
  <div class="container-fluid pt-5 pb-5" v-if="!cloudSuccess">
    <h1 class="text-center"><%= __('account.create') %></h1>
    <div style="max-width: 450px;" class="mx-auto" >
      <p class="text-center"><%= __('account.create.tagline') %></p>
      <hr/>
      <ajax-form action="signup" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-errors.sync="formErrors" :form-data="formData" :form-rules="formRules" @submitted="submittedForm()">
        <div class="form-group">
          <label for="full-name"><%= __('name') %></label>
          <input class="form-control" id="full-name" type="text"  :class="[formErrors.fullName ? 'is-invalid' : '']" v-model.trim="formData.fullName" placeholder="Sturgis P. Sturgeon" autocomplete="name" focus-first>
          <div class="invalid-feedback" v-if="formErrors.fullName"><%= __('form.error.name') %></div>
        </div>
        <div class="form-group">
          <label for="email-address"><%= __('email') %></label>
          <input class="form-control" id="email-address" type="email"  :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" placeholder="sturgeon@example.com" autocomplete="email">
          <div class="invalid-feedback" v-if="formErrors.emailAddress"><%= __('form.error.email') %></div>
        </div>
        <div class="form-group">
          <label for="password"><%= __('password.choose') %></label>
          <input class="form-control" id="password" type="password"  :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" placeholder="••••••••" autocomplete="new-password">
          <div class="invalid-feedback" v-if="formErrors.password"><%= __('form.error.password') %></div>
        </div>
        <div class="form-group">
          <label for="confirm-password"><%= __('password.confirm') %></label>
          <input class="form-control" id="confirm-password" type="password"  :class="[formErrors.confirmPassword ? 'is-invalid' : '']" v-model.trim="formData.confirmPassword" placeholder="••••••••" autocomplete="new-password">
          <div class="invalid-feedback" v-if="formErrors.confirmPassword"><%= __('form.error.passwordMatch') %></div>
        </div>
        <div class="form-group form-check">
          <input class="form-check-input" id="terms-agreement" type="checkbox" v-model="formData.agreed">
          <label for="terms-agreement" class="form-check-label" :class="[formErrors.agreed ? 'text-danger' : '']"><%= __('privacy.acceptance') %> <a target="_blank" href="<%= sails.config.custom.privacyPolicyUrl %>">(?)</a></label>
        </div>
        <cloud-error v-if="cloudError==='emailAlreadyInUse'"><%= __('account.alreadyRegistered') %> <a href="password/forgot"><%= __('here') %></a>.</cloud-error>
        <cloud-error v-else-if="cloudError"></cloud-error>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn-dark btn-lg btn-block"><%= __('account.create') %></ajax-button>
        </div>
      </ajax-form>
      <p class="text-center"><%= __('account.alreadyRegistered.question') %> <a href="/login"><%= __('login') %></a></p>
    </div>
  </div>
  <div class="container-fluid pt-5 pb-5" v-if="cloudSuccess">
    <h1 class="text-center"><%= __('mail.check') %></h1>
    <div class="text-center">
      <hr/>
      <p><%= __('mail.confirm.info.1') %> <strong>{{formData.emailAddress}}</strong>.</p>
      <p>(<%= __('mail.confirm.info.2') %>)</p>
      <p><a class="btn btn-outline-info" href="/"><%= __('account.go') %></a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
