<div id="homepage" v-cloak>
  <div style="background-color: rgba(238, 245, 249, 0.72);" class="text-center py-5" purpose="scroll-destination">
    <div class="container pt-3 pb-5" purpose="about-section">
      <h3>Stiamo sviluppando la piattaforma informatica</h3>
      <p style="max-width: 800px;" class="mx-auto">Vogliamo creare da zero un sistema economico per agevolare lo scambio di beni e servizi. Dovrà essere 100% trasparente e libero.</p>
      <p>Se sei un programmatore o sei esperto nel settore informatico potresti voler contribuire al progetto. Guarda ora il <a href="https://gitlab.com/val.az.co" target="_blank">codice sorgente <i class="fa fa-angle-right" aria-hidden="true"></i></a>
      <div class="row pt-5">
        <div class="mb-4 mb-sm-0 col-sm">
          <div style="color: #fff; background-color: #14acc2; font-size: 35px; line-height: 75px; height: 75px; width: 75px;" class="rounded-circle mx-auto text-center mb-3">
            <i class="fa fa-envelope"></i>
          </div>
          <h4>Contattaci</h4>
          <p class="text-muted">Per richieste e suggerimenti, o per proporti come collaboratore, <a href="/contact">contattaci</a>.</p>
        </div>
        <div class="pt-4 pt-sm-0 mb-4 mb-sm-0 col-sm">
          <div style="color: #fff; background-color: #14acc2; font-size: 35px; line-height: 75px; height: 75px; width: 75px;" class="rounded-circle mx-auto text-center mb-3">
            <i class="fa fa-lock"></i>
          </div>
          <h4>Registrati</h4>
          <p class="text-muted">Crea il tuo conto cliccando <a href="/signup">qui</a> ed inizia ad usare il tuo portafogli.</p>
        </div>
      </div>
      <a class="btn btn-outline-info mt-3" href="/faq">Domande frequenti</a>
      <h3>ATTENZIONE: questa è una versione preliminare ancora in sviluppo, altamente instabile e destinata alla sola sperimentazione.</h3>
    </div>
  </div>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
