<div id="transactions">

  <div class="container pt-5 pb-5">
    <table class="">
      <thead>
        <tr>
          <th class="border">ID</th>
          <th class="border">Data</th>
          <th class="border">Importo</th>
          <th class="border">Causale</th>
          <th class="border">Da</th>
          <th class="border">A</th>
        </tr>
      </thead>
      <tbody v-for="t in transactions" :key="t.id">
        <tr>
          <td class="border">{{ t.id }}</td>
          <td class="border">{{ t.createdAt }}</td>
          <td class="border">{{ t.amount }}</td>
          <td class="border">{{ t.reason }}</td>
          <td class="border">{{ t.from.emailAddress }}</td>
          <td class="border">{{ t.to.emailAddress }}</td>
        </tr>
      </tbody>
    </table>
  </div>


</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
