<div id="users">

  <div class="container pt-5 pb-5">
    <table class="">
      <thead>
        <tr>
          <th class="border">ID</th>
          <th class="border">Nome</th>
          <th class="border">Email</th>
          <th class="border">Ultimo accesso</th>
          <th class="border">Disponibilità</th>
          <th class="border">Ultima transazione</th>
          <th class="border">Attivo</th>
          <th class="border">Data disattivazione</th>
          <th class="border">Data ultimo decremento</th>
        </tr>
      </thead>
      <tbody v-for="u in users" :key="u.id">
        <tr :class="[ u.isSuperAdmin ? 'text-muted' : '' ]">
          <td class="border">{{ u.id }}</td>
          <td class="border">{{ u.fullName }}</td>
          <td class="border">{{ u.emailAddress }}</td>
          <td class="border">{{ u.lastSeenAt }}</td>
          <td class="border">{{ u.funds }}</td>
          <td class="border">{{ u.lastTransaction }}</td>
          <td class="border">{{ u.active }}</td>
          <td class="border">{{ u.deactivateDate }}</td>
          <td class="border">{{ u.decreaseDate }}</td>
        </tr>
      </tbody>
    </table>
  </div>


</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
